[ req ]
default_bits           = 2048
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = Oakland
O                      = request
OU                     = request@localhost
CN                     = TestClient
emailAddress           = do.not@email.me

[ req_attributes ]
challengePassword              = password challenge

[ v3_ca ]
authorityInfoAccess = @issuer_info

[ issuer_info ]
OCSP;URI.0 = http://ocsp.postman.com/
caIssuers;URI.0 = http://ca.postman.com/ca.cert
